extends layout

block content
  .row.page-header
    .col-lg-12
      img(border="0" src="images/b2.jpg")
      
      h4 The Maze Runner #1
      h1 The Maze Runner
      h5 James Dashner
      
  .row
    .col-xs-12.col-md-9
      .row
      h4 Rating:4
      h4 If you ain’t scared, you ain’t human.
      p When Thomas wakes up in the lift, the only thing he can remember is his name. He’s surrounded by strangers—boys whose memories are also gone.
      h4 Nice to meet ya, shank. Welcome to the Glade.
      p Outside the towering stone walls that surround the Glade is a limitless, ever-changing maze. It’s the only way out—and no one’s ever made it through alive.
      h4 Everything is going to change
      P Then a girl arrives. The first girl ever. And the message she delivers is terrifying.
      p Much to her shock, Katniss has fueled an unrest that she's afraid she cannot stop. And what scares her even more is that she's not entirely convinced she should try. As time draws near for Katniss and Peeta to visit the districts on the Capitol's cruel Victory Tour, the stakes are higher than ever. If they can't prove, without a shadow of a doubt, that they are lost in their love for each other, the consequences will be horrifying.
      p Remember. Survive. Run
      h6 384 pages, Hardcover
      h6 First published October 6, 2009
    .col-xs-12.col-sm-3
      p.lead
      